<h1><%= @task.title%></h1>
<div class = container>
<p><%= @task.details%></p>
</div>
<p><%= @task.completed%></p>
<hr>
<div>
<%= link_to "Back to List", tasks_path %>
</div>
<div>
<%= link_to "Edit this task", edit_path %>
</div>
